.homepage {
  padding-top: 70px;
  padding-left: 125px;
  padding-bottom: 70px;
  display: grid;
  grid-template-columns: 350px 350px 450px;
  grid-template-rows: auto;
}

#homepage-search-container {
  grid-column: 1 / span 2;
}

#homepage-nomination-container {
  grid-column: 3 
}

.homepage-text-input {
  padding: 10px;
  border-radius: 10px;
  width: 300px;
  background-color: lightgrey;
}

.homepage-btn {
  padding: 10px;
  border-radius: 10px;
  margin: 2px;
  color: black;
  background: #F5DE50;
  font-weight: bold;
}

.homepage-h1 {
  font-spacing: 0em;
}

.homepage-logout-btn {
  grid-column: 3;
  padding: 10px;
  border-radius: 10px;
  margin: 2px;
  color: black;
  background: #F5DE50;
  font-weight: bold;
  width: 100px;
  align-self: right;
  justify-self: right;
}
