.login {
  height: 100%;
  width: 100%;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center; 
  margin: auto;
  padding-top: 200px;
}

.login-h1 {
  font-size: 60px;
  text-align: center;
  color: #EFD757;
  display: inline-block;
  background:linear-gradient(to right, #BF953F, #FCF6BA, #B38728, #FBF5B7, #AA771C);
  background-position: -4rem top;
  background-repeat: repeat;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-name: login-h1;
  -webkit-animation-duration: 4.4s;
  -webkit-animation-iteration-count: infinite;
  -webkit-background-size: 50rem 100%; 
}

.login-h2 {
  font-size: 20px;
  text-align: center;
  color: #EFD757;
  letter-spacing: 0.05em;
}

.login-text-input {
  padding: 10px;
  border-radius: 10px;
  width: 150px;
}

.login-btn {
  padding: 10px;
  border-radius: 10px;
  margin: 2px;
  background: black;
  color: #F5DE50;
}

.login-span {
  letter-spacing: 0.1em;
}

@keyframes login-h1 {
    0% {
        background-position: -4rem top; /*50px*/
    }

    50% {
        background-position: 12.5rem top; /*200px*/
    }

    100% {
        background-position: 12.5rem top; /*200px*/
    }
}