html,
body {
  font-family: "Trebuchet MS", sans-serif;
  margin: 0px;
  height: 100%;
  color:#EFD757;
  background-color: black;
  background-image: url(/background-image.jpg);
  background-color: black;
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  background-attachment: fixed;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

body {
  height: 100%;
  height: 100vh;
}
